# No incluir estos archivos en la imagen Docker
node_modules/
dist/
.git/
.gitignore
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.env
.env.local
.env.*.local
coverage/
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
